<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Movie_by_years</title>
</head>
<body>
<h2>Всего фильмов найдено {{ movie | length }}</h2>
    {% for mov in movie %}
        {% for item in mov.items() %}
            <p> <b>{{ item[0] }}</b> : {{ item[1] }} </p>
            {% endfor %}
    {% endfor %}
<tr></tr>
{% if actors %}
<h2>Всего актеров найдено {{ actors | length }}</h2>
    {% for mov in actors %}
        {% for key, item in mov.items() %}
            <p> <b>{{ key }}</b> : {{ item }} </p>
            {% endfor %}
    {% endfor %}
{% endif %}
</body>
</html>