<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h1>Главная страница</h1>
    <h2>Выбери необходимое действие:</h2>
    <hr>
    <h3>
        <li><a href='/movie/cat' target=_blank>Страница поиска самого свежего фильма по слову в названии (например: Cat)</a></li>
        <hr>
        <li><a href='/movie/1950/to/1960' target=_blank>Страница поиска фильмов по годам выпуска (например: с 1950 по 1960)</a></li>
        <hr>
        <li><a href='/rating/""' target=_blank>Страница поиска по рейтингу (показывает все фильмы)</a></li>
            <ul><a href='/rating/children' target=_blank>Страница картин с рейтингом <b>children</b></a></ul>
            <ul><a href='/rating/family' target=_blank>Страница картин с рейтингом <b>family</b></a></ul>
            <ul><a href='/rating/adult' target=_blank>Страница картин с рейтингом <b>adult</b></a></ul>

        <hr>
        <li><a href='/genre/drama' target=_blank>Страница поиска фильмов по жанру (например: drama)</a></li>
        <hr>
        <li><a href='/twoactors/Rose McIver and Ben Lamb' target=_blank>Страница поиска фильмов по двум актерам (например: Rose McIver and Ben Lamb)</a></li>
        <hr>
        <li><a href='/customserch/Movie/2020/Drama' target=_blank>Страница поиска по типу, году и жанру (например: Movie 2010 Drama)</a></li>
        <hr>
    </h3>
</body>
</html>